header, footer {
    color: white;
    background-color: #312c32;
    margin: 0em 4em 0.5em 4em;
}

h1, h2, h3, nav, footer {
    font-family: 'Trebuchet MS',  'Lucida Grande', 'Tahoma', sans-serif;
}
h1 {
    font-size: 1.5em;
}

h2{
    font-size: 0.75em;
}

h3{
    font-size: 1.125em;
}
nav{
    font-size: 1.125em;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;  
}

body {
    font-family: Georgia, Cambria, "Times New Roman", serif;
    font-size: 100%;
    background-color: #98dafc;
}
a:link{
    color: #98dafc ;
    font-weight: bold;
}

a:visited{
    color: #daad86;
    font-weight: normal;
}
a:hover{
    background-color: #FFFFCC;
}
.byline {
    font-style: italic;
    color: #89949A;
}

.main-body {
    background-color: white;
    margin: 2em 4em 2em 4em;
    padding: 1em;
    
}

img.large-image {
    width: 98%;
    border: 1px solid black;
    padding: 0.25em;
    margin-top: 0.25em;
    
}

#cornerimage {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    background: url(../images/gray-gradient.png);
    border: 1px solid gray;
    background-repeat: repeat;
    
    height: 50px;
    
  }

  .dotted-line {
    border: 1px dotted;
    margin-bottom: 1.5em;
  }


#description {
    margin-bottom: 2em;
}

#relatedPhotos {
    margin-bottom: 2em;
}

footer {
    padding: 1em;
}
td{
    box-shadow: none;
}
 